In [2]:
from pyfiles.scrpt3_data_engineering import *

In [3]:
from pandas.api.types import (
    is_numeric_dtype,
    is_datetime64_any_dtype,
    is_object_dtype
)

numeric_cols  = [c for c in df_loantape_anly.columns if is_numeric_dtype(df_loantape_anly[c])]
datetime_cols = [c for c in df_loantape_anly.columns if is_datetime64_any_dtype(df_loantape_anly[c])] + ['flgtf', 'flgtg', 'flgth', 'flgti', 'flgtj', 'flgtt', 'cbrau']
object_cols   = [c for c in df_loantape_anly.columns if is_object_dtype(df_loantape_anly[c])]
object_cols   = ['account'] + [c for c in object_cols if c not in ['flgtf', 'flgtg', 'flgth', 'flgti', 'flgtj', 'flgtt', 'cbrau']]

print("Numeric:", numeric_cols)
print("Datetime:", datetime_cols)
print("Object/String:", object_cols)

Numeric: ['brrgy', 'lngmn', 'rmnng', 'prnbl', 'actlb', 'orgtt', 'prnpa', 'prnpb', 'prnpc', 'dscnt', 'rcptl', 'prndj', 'orgma', 'rfnds', 'rdcmt', 'dscna', 'orgpn', 'rdcpn', 'dscnb', 'amtfn', 'actlm', 'crttl', 'crmtf', 'crpnt', 'lnsla', 'flgte', 'crmnt', 'crntr', 'chrgb', 'cnsld', 'dysps', 'pymtj', 'pymtk', 'pymtl', 'pymtm', 'pymtn', 'pymto', 'pymtp', 'pymtq', 'fcscr', 'strts', 'dtx', 'frbru', 'brrfc', 'cbrra', 'cbrrg', 'cbrrn', 'csgna', 'csgnh', 'csgno', 'brrst', 'cbrrs', 'cbrrh', 'cbrro', 'csgnb', 'csgni', 'csgnp', 'brrdt', 'cbrrd', 'cbrri', 'cbrrp', 'csgnc', 'csgnj', 'csgnq', 'cntyr', 'brrdt_crm', 'brrfc_crm', 'brrst_crm', 'brrta', 'brrtb', 'brrtc', 'brrtt', 'cbrrd_crm', 'cbrra_crm', 'cbrrs_crm', 'cbrrb', 'cbrrc', 'cbrab', 'cbrrt', 'cbrri_crm', 'cbrrg_crm', 'cbrrh_crm', 'cbrrk', 'cbrrl', 'cbrac', 'cbrrj', 'cbrrp_crm', 'cbrrn_crm', 'cbrro_crm', 'cbrrr', 'cbrru', 'cbrad', 'cbrrq', 'csgnc_crm', 'csgna_crm', 'csgnb_crm', 'csgne', 'csgnf', 'csgnv', 'csgnd', 'csgnj_crm', 'csgnh_crm', 'csgni_crm', 'csgnl', 'csgnm', 'csgnw', 'csgnk', 'csgnq_crm', 'csgno_crm', 'csgnp_crm', 'csgnt', 'csgnu', 'csgnx', 'csgns', 'trngs', 'brrtcLn', 'brrtaLn', 'brrttLn', 'brrtbLn', 'cbrabLn', 'cbrrbLn', 'cbrrtLn', 'cbrrcLn', 'brrgy_z', 'orgtt_z', 'brrfc_z', 'brrtc_z', 'brrta_z', 'brrdt_z', 'brrtt_z', 'brrtb_z', 'cbrra_z', 'cbrab_z', 'cbrrb_z', 'cbrrd_z', 'cbrrt_z', 'cbrrc_z', 'borrower_fico_dti_interxn', 'borrower_fico_tliab_interxn', 'borrower_fico_lasset_interxn', 'borrower_tliab_to_tincome', 'borrower_tliab_to_tasset', 'borrower_lasset_to_tasset', 'borrower_dti_to_liab', 'borrower_tliab_to_tassetsLn', 'borrower_tincome_to_tassetLn', 'borrower_tliab_to_tincomeLn', 'borrower_fico_dti_interxn_z', 'borrower_fico_tliab_interxn_z', 'borrower_fico_lasset_interxn_z', 'borrower_tliab_to_tincome_z', 'borrower_tliab_to_tasset_z', 'borrower_lasset_to_tasset_z', 'borrower_dti_to_liab_z', 'borrower_tliab_to_tassetsLn_z', 'borrower_tincome_to_tassetLn_z', 'borrower_tliab_to_tincomeLn_z']
Datetime: ['bnkrb', 'lncnt', 'mtrty', 'lnsld', 'expca', 'pdffd', 'lstdd', 'nxtdd', 'chrga', 'dfrrd', 'dfrra', 'intnl', 'intna', 'pschd', 'pscha', 'pymts', 'pymta', 'pymtb', 'pymtc', 'pymte', 'pymtg', 'pymth', 'pymti', 'frbrs', 'frbrt', 'dtrn', 'dtrvw', 'lncnt_1y', 'lncnt_2y', 'lncnt_3y', 'lncnt_4y', 'lncnt_5y', 'lncnt_6y', 'lncnt_7y', 'dbx', 'fstpy', 'grdtn', 'stppd', 'flgtf', 'flgtg', 'flgth', 'flgti', 'flgtj', 'flgtt', 'cbrau']
Object/String: ['account', 'ctzna', 'usrsd', 'vsnla', 'stx', 'bnkra', 'lnprd', 'intrt', 'mdstt', 'lnprc', 'lnslb', 'lnwnr', 'pldgd', 'plnna', 'flgtc', 'flgts', 'flgtd', 'lnstt', 'actvs', 'dlqbc', 'amrtz', 'cbrr', 'csgny', 'tldb', 'tlhdb', 'dflt90', 'dflt120', 'dflt120_chr', 'dflt90_chr', 'brrct', 'cbrry', 'cbrrz', 'cbrbe', 'cbraa', 'cbrbq', 'actzn', 'grdtd', 'actvf', 'PD90_1yr', 'PD90_2yr']

In [4]:
df_loantape_anly[numeric_cols[0:20]].head()

,brrgy,lngmn,rmnng,prnbl,actlb,orgtt,prnpa,prnpb,prnpc,dscnt,rcptl,prndj,orgma,rfnds,rdcmt,dscna,orgpn,rdcpn,dscnb,amtfn
0,35,54,66,91775.00,91775.00,91775.0,0.0,0.00,0.00,0.0,0.00,0.00,82597.5,0.0,0.0,0.0,9177.5,0.0,0.0,82597.5
1,35,54,66,73697.50,73697.50,91775.0,0.0,18077.50,0.00,0.0,0.00,0.00,82597.5,0.0,0.0,0.0,9177.5,0.0,0.0,82597.5
2,22,54,66,68259.57,68259.57,83330.0,0.0,7593.85,69.66,0.0,-138.65,-86.93,74997.0,0.0,7632.5,0.0,8333.0,0.0,0.0,67364.5
3,30,53,67,49988.49,49988.19,66667.0,0.0,10018.62,583.89,0.0,0.00,0.00,60000.3,6076.0,0.0,0.0,6666.7,0.0,0.0,60000.0
4,19,53,67,64332.72,64328.72,77777.0,0.0,13444.28,0.00,0.0,0.00,0.00,69999.3,0.0,0.0,0.0,7777.7,0.0,0.0,69995.3

In [5]:
df_loantape_anly[object_cols[0:20]].head()

,account,ctzna,usrsd,vsnla,stx,bnkra,lnprd,intrt,mdstt,lnprc,lnslb,lnwnr,pldgd,plnna,flgtc,flgts,flgtd,lnstt,actvs,dlqbc
0,100000201,Y,N,N,CA,N,Original,Fixed,N,NaN,N,Fund 1,LoC TPB,NaN,Sling Pilot Academy,California,"Nine Bravo ($82,595)",Default,Active,180+ Days Past Due
1,100000301,Y,N,N,CA,N,Original,Fixed,N,Par,Y,TPB,TPB,NaN,Sling Pilot Academy,California,"Nine Bravo ($82,595)",Current,Active,Current
2,100000401,Y,N,N,CA,N,Original,Fixed,Y,Par,Y,Fund 3,SRAC,NaN,Orange County Flight Lessons LLC,California,"Airline Pilot ($69,995 + $5,000 Housing = $74,...",Current,Active,Current
3,100000501,Y,N,N,CA,N,Original,Fixed,N,Par,Y,TPB,TPB,NaN,Orange County Flight Lessons LLC,California,"Airline Pilot ($69,995)",Default,Active,180+ Days Past Due
4,100000601,Y,N,N,CA,N,Original,Fixed,N,Par,Y,TPB,TPB,NaN,Orange County Flight Lessons LLC,California,"Airline Pilot ($69,995)",Current,Active,Current

In [6]:
df_loantape_anly[datetime_cols[0:20]].head()

,bnkrb,lncnt,mtrty,lnsld,expca,pdffd,lstdd,nxtdd,chrga,dfrrd,dfrra,intnl,intna,pschd,pscha,pymts,pymta,pymtb,pymtc,pymte
0,NaT,2021-05-28,2031-05-28,NaT,2021-06-15,NaT,2023-05-15,2023-06-15,NaT,NaT,NaT,2021-06-15,2023-05-15,2023-06-15,2031-05-15,2021-06-15,2023-05-15,2023-06-15,2031-05-15,NaT
1,NaT,2021-05-28,2031-05-28,2022-07-28,2021-06-15,NaT,2025-11-15,2025-12-15,NaT,NaT,NaT,2021-06-15,2023-05-15,2023-06-15,2031-06-15,2021-06-15,2023-05-15,2023-06-15,2031-06-15,NaT
2,NaT,2021-05-28,2031-05-28,2025-03-18,2021-06-15,NaT,2025-11-15,2025-12-15,NaT,NaT,NaT,NaT,NaT,2021-06-15,2031-05-15,2021-06-15,2024-12-15,2025-01-15,2031-05-15,NaT
3,NaT,2021-06-11,2031-06-11,2022-09-09,2021-07-15,NaT,2024-10-15,2024-11-15,NaT,NaT,NaT,2021-07-15,2023-06-15,2023-07-15,2029-08-15,2021-07-15,2023-06-15,2023-07-15,2029-08-15,NaT
4,NaT,2021-06-14,2031-06-14,2022-09-09,2021-07-15,NaT,2025-10-24,2025-11-24,NaT,NaT,NaT,2021-07-15,2023-06-15,2023-07-15,2031-06-15,2021-07-15,2023-06-15,2023-07-15,2031-06-15,NaT

In [7]:
map_loantape

,table_name,original_column,original_column_norm,short_code,kept_as_is
59,loantape,account,account,account,True
60,loantape,actual_balance,actual_balance,actlb,False
61,loantape,actual_amount_funded_2schools,actual_amount_funded_2schools,actlm,False
62,loantape,active_status,active_status,actvs,False
63,loantape,amortization_type,amortization_type,amrtz,False
...,...,...,...,...,...
176,loantape,state,state,stx,False
177,loantape,tal_db,tal_db,tldb,False
178,loantape,tlh_db,tlh_db,tlhdb,False
179,loantape,usresident_greencard_ind,usresident_greencard_ind,usrsd,False
180,loantape,visa_only,visa_only,vsnla,False

In [8]:
map_tmoinfo

,table_name,original_column,original_column_norm,short_code,kept_as_is
193,tmoinfo,account,account,account,True
194,tmoinfo,ach,ach,ach,False
195,tmoinfo,active_in_flight_training,active_in_flight_training,actvf,False
196,tmoinfo,is_a_citizen,is_a_citizen,actzn,False
197,tmoinfo,aggregate_senior_liens,aggregate_senior_liens,aggra,False
...,...,...,...,...,...
475,tmoinfo,unearned_discount,unearned_discount,unrnd,False
476,tmoinfo,is_us_perm_resident_or_greencard_holder,is_us_perm_resident_or_greencard_holder,usprm,False
477,tmoinfo,is_visa_only,is_visa_only,vsnly,False
478,tmoinfo,work_phone,work_phone,wrkph,False
479,tmoinfo,zip_code,zip_code,zpcd,False

In [9]:
rename_dict

{'account': 'account',
 'actual_balance': 'actlb',
 'actual_amount_funded_2schools': 'actlm',
 'active_status': 'actvs',
 'amortization_type': 'amrtz',
 'amount_funded_schools': 'amtfn',
 'bankrupt_status': 'bnkra',
 'bankrupt_date': 'bnkrb',
 'borrower_dti': 'brrdt',
 'borrower_fico_score': 'brrfc',
 'borrower_age_yrs': 'brrgy',
 'borrower_strata_score': 'brrst',
 'with_co_borrower': 'cbrr',
 'co_borrower_1_fico_score': 'cbrra',
 'co_borrower_1_dti': 'cbrrd',
 'co_borrower_2_fico_score': 'cbrrg',
 'co_borrower_2_strata_score': 'cbrrh',
 'co_borrower_2_dti': 'cbrri',
 'co_borrower_3_fico_score': 'cbrrn',
 'co_borrower_3_strata_score': 'cbrro',
 'co_borrower_3_dti': 'cbrrp',
 'co_borrower_1_strata_score': 'cbrrs',
 'charged_off_date': 'chrga',
 'charged_off_status': 'chrgb',
 'consolidated_with': 'cnsld',
 'current_monthly_payment': 'crmnt',
 'current_amount_2fund_2schools': 'crmtf',
 'current_interest_rate': 'crntr',
 'current_points': 'crpnt',
 'current_total_loan_amount': 'crttl',
 'co_signer_1_fico_score': 'csgna',
 'co_signer_1_strata_score': 'csgnb',
 'co_signer_1_dti': 'csgnc',
 'co_signer_2_fico_score': 'csgnh',
 'co_signer_2_strata_score': 'csgni',
 'co_signer_2_dti': 'csgnj',
 'co_signer_3_fico_score': 'csgno',
 'co_signer_3_strata_score': 'csgnp',
 'co_signer_3_dti': 'csgnq',
 'with_co_signer': 'csgny',
 'citizenship_ind': 'ctzna',
 'deferred_schedule_end_date': 'dfrra',
 'deferred_schedule_start_date': 'dfrrd',
 'delinquency_bucket': 'dlqbc',
 'discount_2amount_2fund_2schools': 'dscna',
 'discount_points': 'dscnb',
 'discount_principal_balance': 'dscnt',
 'date_run': 'dtrn',
 'date_review_tlh': 'dtrvw',
 'dti': 'dtx',
 'days_past_due': 'dysps',
 'expected_first_payment_date': 'expca',
 'fico_score': 'fcscr',
 'flight_school': 'flgtc',
 'flight_school_program': 'flgtd',
 'flight_school_program_total_hours': 'flgte',
 'flight_training_40_50_hour_milestone': 'flgtf',
 'flight_training_70_120_hour_milestone': 'flgtg',
 'flight_training_170_180_hour_milestone': 'flgth',
 'flight_training_200_220_hour_milestone': 'flgti',
 'flight_training_230_hour_milestone': 'flgtj',
 'flight_school_state': 'flgts',
 'flight_training_0_hours': 'flgtt',
 'forbearance_start_date': 'frbrs',
 'forbearance_end_date': 'frbrt',
 'forbearance_amount': 'frbru',
 'interest_only_schedule_end_date': 'intna',
 'interest_only_schedule_start_date': 'intnl',
 'interest_rate_type': 'intrt',
 'loan_contract_date': 'lncnt',
 'loan_age_months': 'lngmn',
 'loan_price': 'lnprc',
 'loan_product': 'lnprd',
 'loan_sold_rate': 'lnsla',
 'loan_sold': 'lnslb',
 'loan_sold_date': 'lnsld',
 'loan_status': 'lnstt',
 'loan_owner': 'lnwnr',
 'last_due_date_paid': 'lstdd',
 'modified_status': 'mdstt',
 'maturity_date': 'mtrty',
 'next_due_date': 'nxtdd',
 'original_amount_2fund_2schools': 'orgma',
 'original_points': 'orgpn',
 'original_total_loan_amount': 'orgtt',
 'paid_off_date': 'pdffd',
 'pledged_to': 'pldgd',
 'planned_2pledged_to': 'plnna',
 'principal_balance': 'prnbl',
 'principal_adjustments': 'prndj',
 'principal_payoff': 'prnpa',
 'principal_payments': 'prnpb',
 'principal_paydown': 'prnpc',
 'pi_schedule_end_date': 'pscha',
 'pi_schedule_start_date': 'pschd',
 'payment_schedule_1_end_date': 'pymta',
 'payment_schedule_2_start_date': 'pymtb',
 'payment_schedule_2_end_date': 'pymtc',
 'payment_schedule_3_start_date': 'pymte',
 'payment_schedule_3_end_date': 'pymtg',
 'payment_schedule_4_start_date': 'pymth',
 'payment_schedule_4_end_date': 'pymti',
 'payment_schedule_1_amount': 'pymtj',
 'payment_schedule_2_amount': 'pymtk',
 'payment_schedule_3_amount': 'pymtl',
 'payment_schedule_4_amount': 'pymtm',
 'payment_schedule_1_note_rate': 'pymtn',
 'payment_schedule_2_note_rate': 'pymto',
 'payment_schedule_3_note_rate': 'pymtp',
 'payment_schedule_4_note_rate': 'pymtq',
 'payment_schedule_1_start_date': 'pymts',
 'recapitalized_interest': 'rcptl',
 'reduce_amount_2und_2schools': 'rdcmt',
 'reduce_points': 'rdcpn',
 'refund_from_school': 'rfnds',
 'remaining_term_months': 'rmnng',
 'strata_score': 'strts',
 'state': 'stx',
 'tal_db': 'tldb',
 'tlh_db': 'tlhdb',
 'usresident_greencard_ind': 'usrsd',
 'visa_only': 'vsnla'}

In [10]:
rename_dict_tmo

{'account': 'account',
 'ach': 'ach',
 'active_in_flight_training': 'actvf',
 'is_a_citizen': 'actzn',
 'aggregate_senior_liens': 'aggra',
 'aggregate_appraised_value': 'aggrg',
 'annual_percentage_rate': 'annlp',
 'apply_to_reserve': 'appla',
 'apply_to_impound': 'applb',
 'apply_to_other': 'applc',
 'apply_to_p_i': 'apply',
 'appraisal_date': 'apprs',
 'booking_date': 'bkngd',
 'bankruptcy_date': 'bnkrp',
 'borrower_citizenship': 'brrct',
 'borrower_dti': 'brrdt',
 'borrower_fico_score': 'brrfc',
 'borrower_name': 'brrnm',
 'borrower_strata_score': 'brrst',
 'borrower_total_assets': 'brrta',
 'borrower_total_liabilities': 'brrtb',
 'borrower_total_liquid_assets': 'brrtc',
 'borrower_total_monthly_income': 'brrtt',
 'co_borrower_3_citizenship': 'cbraa',
 'co_borrower_1_total_liquid_assets': 'cbrab',
 'co_borrower_2_total_liquid_assets': 'cbrac',
 'co_borrower_3_total_liquid_assets': 'cbrad',
 'co_borrower_1_middle_name': 'cbrae',
 'co_borrower_1_association_code': 'cbraf',
 'co_borrower_2_middle_name': 'cbrag',
 'co_borrower_2_association_code': 'cbrah',
 'co_borrower_3_middle_name': 'cbrai',
 'co_borrower_3_association_code': 'cbraj',
 'co_borrower_1_first_name': 'cbrak',
 'co_borrower_1_last_name': 'cbral',
 'co_borrower_1_generation': 'cbram',
 'co_borrower_1_1st_line_of_address': 'cbran',
 'co_borrower_1_2nd_line_of_address': 'cbrao',
 'co_borrower_1_city': 'cbrap',
 'co_borrower_1_state': 'cbraq',
 'co_borrower_1_zip_code': 'cbrar',
 'co_borrower_1_email': 'cbras',
 'co_borrower_1_ssn': 'cbrat',
 'co_borrower_1_dob': 'cbrau',
 'co_borrower_2_first_name': 'cbrav',
 'co_borrower_2_last_name': 'cbraw',
 'co_borrower_2_generation': 'cbrax',
 'co_borrower_2_1st_line_of_address': 'cbray',
 'co_borrower_2_2nd_line_of_address': 'cbraz',
 'co_borrower_2_city': 'cbrba',
 'co_borrower_2_state': 'cbrbb',
 'co_borrower_2_zip_code': 'cbrbc',
 'co_borrower_2_email': 'cbrbd',
 'co_borrower_2_dob': 'cbrbe',
 'co_borrower_2_ssn': 'cbrbf',
 'co_borrower_3_first_name': 'cbrbg',
 'co_borrower_3_last_name': 'cbrbh',
 'co_borrower_3_generation': 'cbrbi',
 'co_borrower_3_1st_line_of_address': 'cbrbj',
 'co_borrower_3_2nd_line_of_address': 'cbrbk',
 'co_borrower_3_city': 'cbrbl',
 'co_borrower_3_state': 'cbrbm',
 'co_borrower_3_zip_code': 'cbrbn',
 'co_borrower_3_email': 'cbrbo',
 'co_borrower_3_ssn': 'cbrbp',
 'co_borrower_3_dob': 'cbrbq',
 'co_borrower_1_fico_score': 'cbrra',
 'co_borrower_1_total_assets': 'cbrrb',
 'co_borrower_1_total_liabilities': 'cbrrc',
 'co_borrower_1_dti': 'cbrrd',
 'co_borrower_2_full_name': 'cbrre',
 'co_borrower_1_full_name': 'cbrrf',
 'co_borrower_2_fico_score': 'cbrrg',
 'co_borrower_2_strata_score': 'cbrrh',
 'co_borrower_2_dti': 'cbrri',
 'co_borrower_2_total_monthly_income': 'cbrrj',
 'co_borrower_2_total_assets': 'cbrrk',
 'co_borrower_2_total_liabilities': 'cbrrl',
 'co_borrower_3_full_name': 'cbrrm',
 'co_borrower_3_fico_score': 'cbrrn',
 'co_borrower_3_strata_score': 'cbrro',
 'co_borrower_3_dti': 'cbrrp',
 'co_borrower_3_total_monthly_income': 'cbrrq',
 'co_borrower_3_total_assets': 'cbrrr',
 'co_borrower_1_strata_score': 'cbrrs',
 'co_borrower_1_total_monthly_income': 'cbrrt',
 'co_borrower_3_total_liabilities': 'cbrru',
 'co_borrower_1_phone_number': 'cbrrv',
 'co_borrower_2_phone_number': 'cbrrw',
 'co_borrower_3_phone_number': 'cbrrx',
 'co_borrower_1_citizenship': 'cbrry',
 'co_borrower_2_citizenship': 'cbrrz',
 'charged_off_date': 'chrga',
 'charged_off': 'chrgd',
 'calculated_ltv': 'clclt',
 'cell_phone': 'cllph',
 'closing_date': 'clsng',
 'cancelled_date': 'cncla',
 'cancelled': 'cncll',
 'co_signer_1_fico_score': 'csgna',
 'co_signer_1_strata_score': 'csgnb',
 'co_signer_1_dti': 'csgnc',
 'co_signer_1_total_monthly_income': 'csgnd',
 'co_signer_1_total_assets': 'csgne',
 'co_signer_1_total_liabilities': 'csgnf',
 'co_signer_2_full_name': 'csgng',
 'co_signer_2_fico_score': 'csgnh',
 'co_signer_2_strata_score': 'csgni',
 'co_signer_2_dti': 'csgnj',
 'co_signer_2_total_monthly_income': 'csgnk',
 'co_signer_2_total_assets': 'csgnl',
 'co_signer_2_total_liabilities': 'csgnm',
 'co_signer_3_full_name': 'csgnn',
 'co_signer_3_fico_score': 'csgno',
 'co_signer_3_strata_score': 'csgnp',
 'co_signer_3_dti': 'csgnq',
 'co_signer_1_full_name': 'csgnr',
 'co_signer_3_total_monthly_income': 'csgns',
 'co_signer_3_total_assets': 'csgnt',
 'co_signer_3_total_liabilities': 'csgnu',
 'co_signer_1_total_liquid_assets': 'csgnv',
 'co_signer_2_total_liquid_assets': 'csgnw',
 'co_signer_3_total_liquid_assets': 'csgnx',
 'city': 'cty',
 'dob': 'dbx',
 'declared_bankruptcy': 'dclrd',
 'date_added': 'dtddd',
 'days_late': 'dyslt',
 'email_address': 'emldd',
 'final_total_amount_funded_to_schools': 'fnltt',
 'forbearance_1_end_date': 'frbra',
 'forbearance_1_amount': 'frbrb',
 'forbearance_2_start_date': 'frbrc',
 'forbearance_2_end_date': 'frbrd',
 'forbearance_2_amount': 'frbre',
 'forbearance_2b_start_date': 'frbrf',
 'forbearance_2b_end_date': 'frbrg',
 'forbearance_2b_amount': 'frbrh',
 'forbearance_3_start_date': 'frbri',
 'forbearance_3_amount': 'frbrj',
 'forbearance_3_end_date': 'frbrk',
 'forbearance_4_start_date': 'frbrl',
 'forbearance_4_amount': 'frbrm',
 'forbearance_1_start_date': 'frbrn',
 'forbearance_4_end_date': 'frbro',
 'forbearance_5_start_date': 'frbrp',
 'forbearance_5_amount': 'frbrq',
 'forbearance_5_end_date': 'frbrr',
 'first_and_last_name': 'fstls',
 'first_name': 'fstnm',
 'first_payment_date': 'fstpy',
 'fax_phone': 'fxphn',
 'graduated': 'grdtd',
 'graduation_date': 'grdtn',
 'hold': 'hld',
 'home_phone': 'hmphn',
 'impound_balance': 'impnd',
 'interest_paid_to': 'intpd',
 'loan_code': 'lncd',
 'loan_officer': 'lnffc',
 'language_preference': 'lnggp',
 'loan_priority': 'lnpr',
 'loan_product': 'lnprd',
 'loan_sold_rate': 'lnsla',
 'loan_sold_date': 'lnsld',
 'loan_type': 'lntyp',
 'loan_owner': 'lnwnr',
 'last_communication_date': 'lstcm',
 'last_name': 'lstna',
 'by_last_name': 'lstnm',
 'litigation_date': 'ltgta',
 'litigation': 'ltgtn',
 'modified_1_date': 'mddt',
 'modified_2_date': 'mddta',
 'modified_2_finance_charges': 'mdfna',
 'modified_1_finance_charges': 'mdfnn',
 'modified_2_amount_financed': 'mdmta',
 'modified_1_amount_financed': 'mdmtf',
 'modified_2_reason': 'mdrsa',
 'modified_1_reason': 'mdrsn',
 'modified_2_total_loan_amount': 'mdtta',
 'modified_1_total_loan_amount': 'mdttl',
 'monthly_installment': 'mnthl',
 'maturity_date': 'mtrty',
 'mi': 'mxxa',
 'note_rate': 'ntrt',
 'next_revision': 'nxtrv',
 'original_balance': 'orgbl',
 'original_amount_financed': 'orgmt',
 'original_initial_finance_charges': 'orgnt',
 'original_total_loan_amount': 'orgtt',
 'outsanding_balance_as_of_settlement_date': 'otsnd',
 'paid_off_date': 'pdffd',
 'pledged_to': 'pldgd',
 'planned_to_be_pledged_to': 'plnnd',
 'purchase_date': 'prchs',
 'preferred_communication': 'prfrr',
 'primary_servicing_associate': 'prmry',
 'principal_balance': 'prnbl',
 'property_street': 'prpra',
 'property_city': 'prprb',
 'property_state': 'prprc',
 'property_zip': 'prprd',
 'property_county': 'prpre',
 'property_type': 'prprf',
 'property_occupancy': 'prprg',
 'property_ltv': 'prprh',
 'property_apn': 'prpri',
 'property_description': 'prprt',
 'payoff_request_1_completion_date': 'pyffa',
 'payoff_request_1_status': 'pyffb',
 'payoff_request_1_date_computation_sent': 'pyffc',
 'payoff_request_1_details': 'pyffd',
 'payoff_request_1_result': 'pyffe',
 'payoff_request_2_start_date': 'pyfff',
 'payoff_request_2_completion_date': 'pyffg',
 'payoff_request_2_status': 'pyffh',
 'payoff_request_2_date_computation_sent': 'pyffi',
 'payoff_request_2_details': 'pyffj',
 'payoff_request_2_result': 'pyffk',
 'payoff_in_terms_monthly_payment': 'pyffl',
 'payoff_in_terms_start_date': 'pyffm',
 'payoff_in_terms_end_date_1': 'pyffn',
 'payoff_in_terms_monthly_payment_1': 'pyffo',
 'payoff_in_terms_start_date_1': 'pyffp',
 'payoff_request_1_start_date': 'pyffr',
 'payoff_in_terms_end_date': 'pyfft',
 'payment_due_date': 'pymtd',
 'payment_frequency': 'pymtf',
 'regular_payment': 'rglrp',
 'rn': 'rnx',
 'reserve_balance': 'rsrvb',
 'rate_type': 'rttyp',
 'school_name': 'schln',
 'secondary_servicing_associate': 'scndr',
 'sold_rate': 'sldrt',
 'stopped_flight_training_date': 'stppd',
 'street': 'strt',
 'settlement_amount': 'sttla',
 'settlement_status': 'sttlb',
 'settlement_remarks': 'sttlc',
 'settlement_date': 'sttlm',
 'state': 'stx',
 'tin': 'tnx',
 'term_left': 'trmlf',
 'training_status': 'trngs',
 'trust_balance': 'trstb',
 'task_2_category': 'tskca',
 'task_3_category': 'tskcb',
 'task_4_category': 'tskcc',
 'task_5_category': 'tskcd',
 'task_1_category': 'tskct',
 'task_2_details': 'tskda',
 'task_3_details': 'tskdb',
 'task_4_details': 'tskdc',
 'task_5_details': 'tskdd',
 'task_1_details': 'tskdt',
 'task_1_result': 'tskra',
 'task_2_resolution_date': 'tskrb',
 'task_2_result': 'tskrc',
 'task_3_resolution_date': 'tskrd',
 'task_3_result': 'tskre',
 'task_4_resolution_date': 'tskrf',
 'task_4_result': 'tskrg',
 'task_5_resolution_date': 'tskrh',
 'task_5_result': 'tskri',
 'task_1_resolution_date': 'tskrs',
 'task_1_status': 'tsksa',
 'task_2_start_date': 'tsksb',
 'task_2_status': 'tsksc',
 'task_3_start_date': 'tsksd',
 'task_3_status': 'tskse',
 'task_4_start_date': 'tsksf',
 'task_4_status': 'tsksg',
 'task_5_start_date': 'tsksh',
 'task_5_status': 'tsksi',
 'task_1_start_date': 'tskst',
 'total_of_payments': 'ttpym',
 'type_of_settlement': 'typst',
 'unpaid_charges': 'unpdc',
 'unpaid_late_charges': 'unpdl',
 'unpaid_interest': 'unpdn',
 'unearned_discount': 'unrnd',
 'is_us_perm_resident_or_greencard_holder': 'usprm',
 'is_visa_only': 'vsnly',
 'work_phone': 'wrkph',
 'zip_code': 'zpcd'}

In [12]:
df_loantape_anly_lng = df_loantape_anly.rename(columns={v: k for k, v in rename_dict.items() if v in df_loantape_anly.columns})
df_loantape_anly_lng = df_loantape_anly_lng.rename(columns={v: k for k, v in rename_dict_tmo.items() if v in df_loantape_anly_lng.columns})

In [21]:
df_loantape_anly_lng.columns[240:270]

Index(['borrower_tliab_to_tasset_z', 'borrower_lasset_to_tasset_z',
       'borrower_dti_to_liab_z', 'borrower_tliab_to_tassetsLn_z',
       'borrower_tincome_to_tassetLn_z', 'borrower_tliab_to_tincomeLn_z'],
      dtype='object')

In [ ]:
account
loan_status
active_status
delinquency_bucket
days_past_due
amortization_type
loantape,interest_rate_type,interest_rate_type,intrt,False
loantape,loan_product,loan_product,lnprd,False
loantape,loan_contract_date,loan_contract_date,lncnt,False
loantape,original_total_loan_amount,original_total_loan_amount,orgtt,False

loantape,borrower_dti,borrower_dti,brrdt,False
loantape,borrower_fico_score,borrower_fico_score,brrfc,False
loantape,co_borrower_1_fico_score,co_borrower_1_fico_score,cbrra,False
loantape,co_borrower_1_dti,co_borrower_1_dti,cbrrd,False
loantape,with_co_borrower,with_co_borrower,cbrr,False
loantape,with_co_signer,with_co_signer,csgny,False
loantape,borrower_age_yrs,borrower_age_yrs,brrgy,False
loantape,usresident_greencard_ind,usresident_greencard_ind,usrsd,False
loantape,visa_only,visa_only,vsnla,False
loantape,citizenship_ind,citizenship_ind,ctzna,False

'co_borrower_2_fico_score', 'co_borrower_3_fico_score',
'co_signer_1_fico_score', 'co_signer_2_fico_score',
'co_signer_3_fico_score', 'borrower_dti',
'co_borrower_1_dti', 'co_borrower_2_dti', 'co_borrower_3_dti',
'co_signer_1_dti', 'co_signer_2_dti', 'co_signer_3_dti'

'lncnt_1y', 'lncnt_2y', 'lncnt_3y',
'lncnt_4y', 'lncnt_5y', 'lncnt_6y', 'lncnt_7y'

'borrower_citizenship', 
loantape,borrower_dti,borrower_dti,brrdt_crm,False
loantape,borrower_fico_score,borrower_fico_score,brrfc_crm,False
loantape,borrower_strata_score,borrower_strata_score,brrst_crm,False

'borrower_total_assets', 'borrower_total_liabilities',
'borrower_total_liquid_assets', 'borrower_total_monthly_income',
'co_borrower_1_citizenship', 'co_borrower_1_dob', 'cbrrd_crm',
'cbrra_crm', 'cbrrs_crm', 'co_borrower_1_total_assets'
'co_borrower_1_total_liabilities', 'co_borrower_1_total_liquid_assets',
'co_borrower_1_total_monthly_income', 'co_borrower_2_citizenship',
'co_borrower_2_dob',

tmoinfo,co_borrower_2_dti,co_borrower_2_dti,cbrri_crm,False
tmoinfo,co_borrower_2_fico_score,co_borrower_2_fico_score,cbrrg_crm,False
tmoinfo,co_borrower_2_strata_score,co_borrower_2_strata_score,cbrrh_crm,False

'co_borrower_2_total_assets', 'co_borrower_2_total_liabilities',
'co_borrower_2_total_liquid_assets',
'co_borrower_2_total_monthly_income', 'co_borrower_3_citizenship',
'co_borrower_3_dob', 

'cbrrp_crm', 'cbrrn_crm', 'cbrro_crm',
loantape,co_borrower_3_dti,co_borrower_3_dti,cbrrp_crm,False
loantape,co_borrower_3_fico_score,co_borrower_3_fico_score,cbrrn_crm,False
loantape,co_borrower_3_strata_score,co_borrower_3_strata_score,cbrro_crm,False


'co_borrower_3_total_assets', 'co_borrower_3_total_liabilities',
'co_borrower_3_total_liquid_assets',
'co_borrower_3_total_monthly_income', 
loantape,co_signer_1_dti,co_signer_1_dti,csgnc_crm,False
loantape,co_signer_1_fico_score,co_signer_1_fico_score,csgna_crm,False
loantape,co_signer_1_strata_score,co_signer_1_strata_score,csgnb_crm,False


'co_signer_1_total_assets',
'co_signer_1_total_liabilities', 'co_signer_1_total_liquid_assets',
'co_signer_1_total_monthly_income', 
'csgnj_crm', 'csgnh_crm'
'csgni_crm',
tmoinfo,co_signer_2_dti,co_signer_2_dti,csgnj_crm,False
tmoinfo,co_signer_2_fico_score,co_signer_2_fico_score,csgnh_crm,False
tmoinfo,co_signer_2_strata_score,co_signer_2_strata_score,csgni_crm,False


'co_signer_2_total_assets',
'co_signer_2_total_liabilities', 'co_signer_2_total_liquid_assets',
'co_signer_2_total_monthly_income', 
'csgnq_crm', 'csgno_crm',
'csgnp_crm', 
tmoinfo,co_signer_3_dti,co_signer_3_dti,csgnq_crm,False
tmoinfo,co_signer_3_fico_score,co_signer_3_fico_score,csgno_crm,False
tmoinfo,co_signer_3_strata_score,co_signer_3_strata_score,csgnp_crm,False


'co_signer_3_total_assets',
'co_signer_3_total_liabilities', 'co_signer_3_total_liquid_assets',
'co_signer_3_total_monthly_income', 'dob', 'is_a_citizen',
'first_payment_date', 'training_status', 'graduated', 'graduation_date',
'active_in_flight_training', 'stopped_flight_training_date',
'default_type90', 'default_type120', 'PD90_1yr', 'PD90_2yr', 
'brrtcLn',
'brrtaLn', 'brrttLn', 'brrtbLn', 'cbrabLn', 'cbrrbLn', 
'cbrrtLn', 'cbrrcLn', 
tmoinfo,borrower_total_liquid_assets,borrower_total_liquid_assets_log,brrtcLn,False
tmoinfo,borrower_total_assets,borrower_total_assets,brrtaLn_log,False
tmoinfo,borrower_total_monthly_income,borrower_total_monthly_income_log,brrttLn,False
tmoinfo,borrower_total_liabilities,borrower_total_liabilities_log,brrtbLn,False
tmoinfo,co_borrower_1_total_liquid_assets,co_borrower_1_total_liquid_assets_log,cbrabLn,False
tmoinfo,co_borrower_1_total_assets,co_borrower_1_total_assets_log,cbrrbLn,False
tmoinfo,co_borrower_1_total_monthly_income,co_borrower_1_total_monthly_income_log,cbrrtLn,False
tmoinfo,co_borrower_1_total_liabilities,co_borrower_1_total_liabilities_log,cbrrcLn,False

'brrgy_z', 'orgtt_z', 'brrfc_z', 'brrtc_z',
'brrta_z', 'brrdt_z', 'brrtt_z', 'brrtb_z', 'cbrra_z', 'cbrab_z',
'cbrrb_z', 'cbrrd_z', 'cbrrt_z', 'cbrrc_z', 






'borrower_fico_dti_interxn',
'borrower_fico_tliab_interxn', 'borrower_fico_lasset_interxn',
'borrower_tliab_to_tincome', 'borrower_tliab_to_tasset',
'borrower_lasset_to_tasset', 'borrower_dti_to_liab',
'borrower_tliab_to_tassetsLn', 'borrower_tincome_to_tassetLn',
'borrower_tliab_to_tincomeLn', 'borrower_fico_dti_interxn_z',
'borrower_fico_tliab_interxn_z', 'borrower_fico_lasset_interxn_z',
'borrower_tliab_to_tincome_z', 'borrower_tliab_to_tasset_z', 'borrower_lasset_to_tasset_z',
'borrower_dti_to_liab_z', 'borrower_tliab_to_tassetsLn_z',
'borrower_tincome_to_tassetLn_z', 'borrower_tliab_to_tincomeLn_z'